.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.delete-form {
    display: inline;
}

.input-form {
     width: 30%; 
     margin: 25px auto;
}

.form-title {
    text-align: center;
}