.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.delete-form {
    display: inline;
}

.input-form {
     width: 30%; 
     margin: 25px auto;
}

.form-title {
    text-align: center;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: white;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.userComment {
    color: green;
}

#review-pane {
    display: none;
}